# dirs
*.sinov/
*__pycache__/
*_reja/

# pyinstaller dirs
Futsuga/build/
*dist/
*output/

# rust dirs
*target

# files
*main_no_comments.fga
_pyd_conv.sh

Futsuga/futsuga.cpp

# md & futs
*st.md
*.prompts.md
*sinov.futs

# pyinstaller builder
*.spec

# compiled files
*.pyd
*.exe
*.dll
*.so
*.out
*.bin
*.pdb