# dirs
*.sinov/
*__pycache__/
*_reja/
*.env
*_tmp/

Futsuga-cpp/cacert.crt
Futsuga-cpp/include/
Futsuga-cpp/

# pyinstaller dirs
Futsuga/build/
*dist/
*output/

# files
*main_no_comments.fga
_pyd_conv.sh

Futsuga/futsuga.cpp

# md & futs
*st.md
*.prompts.md
*sinov.futs
*sinov.py
*sinov.c

# pyinstaller builder
*.spec

# compiled files
*.pyd
*.exe
*.dll
*.so
*.out
*.bin
*.pdb